<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.postmedia.DFPPlugin"
        version="0.0.2">
    
    <name>DFPPlugin</name>
    <description>Google DFP Plugin</description>
    <license>MIT</license>
    
    <engines>
        <engine name="cordova" version=">=3.3.0" />
    </engines>
    <!---->
    <js-module src="www/DFPPlugin.js" name="DFPPlugin">
        <clobbers target="window.DFPPlugin"/>
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DFPPlugin">
                <param name="ios-package" value="DFPPlugin" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/DFPPlugin.h" />
        <source-file src="src/ios/DFPPlugin.m" />
        
        <!-- Google AdMob header files -->
        <header-file src="src/ios/GoogleAdMobAdsSdk/Add-ons/DoubleClick/DFPBannerView.h" />
        <header-file src="src/ios/GoogleAdMobAdsSdk/GADAdMobExtras.h" />
        <header-file src="src/ios/GoogleAdMobAdsSdk/GADAdSize.h" />
        <header-file src="src/ios/GoogleAdMobAdsSdk/GADAdSizeDelegate.h" />
        <header-file src="src/ios/GoogleAdMobAdsSdk/GADBannerView.h" />
        <header-file src="src/ios/GoogleAdMobAdsSdk/GADBannerViewDelegate.h" />     
        <header-file src="src/ios/GoogleAdMobAdsSdk/GADAppEventDelegate.h" />
        <header-file src="src/ios/GoogleAdMobAdsSdk/GADRequest.h" />
        
        <!-- Google AdMob 6.5.1 framework -->
        <source-file src="src/ios/GoogleAdMobAdsSdk/libGoogleAdMobAds.a" framework="true" />
        
        <!-- iOS development frameworks need by Google AdMob 6.5.1 framework -->
        <framework src="Foundation.framework" />
        <framework src="AdSupport.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="MessageUI.framework" />
        <framework src="StoreKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="CoreLocation.framework" />
    </platform>
</plugin>